target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

.idea/
*.iml
*.iws
*.ipr
out/

.classpath
.project
.settings/
nbproject/

*.class

logs/
*.log
log/

application-local.properties
application-dev.properties

.DS_Store
Thumbs.db

*.jar
*.war
*.ear

jacoco.exec
site/

.mvn/
mvnw
mvnw.cmd